<div class="wrapping">

  <div class="container text-center">
  <h1>Welcome on The Gossip Project!</h1>
  <div class="page">
      <em><b><%= link_to "Create a new Gossip!", new_gossip_path, :class => "btn btn-lg"%></b></em>
    </button>
    <br><br><h4>
      <u>Juicy list of Gossips:</u>
    </h4>
  </div>
  <br>


  <div class="row col">
    <% @gossips.each_with_index do |gossip, i| %>
      <div class="card" style="width:18rem;">
        <h5>
          Title: <%=gossip.title%>
        </h5>
        <p>
          Author: <%=gossip.user.first_name%><br>
        </p>
         <p>
          <%= link_to "Edit", edit_gossip_path(gossip.id), :class => "btn btn-outline-success btn-sm"%>
          <%= link_to "Delete" , gossip_path(gossip.id), :method => "delete", :class => "btn btn-outline-danger btn-sm", :data => {:confirm => "Do you really want to Delete this gossip?"} %>
        </p>
        <p>
          <em><%= link_to "See this gossip", gossip_path(gossip.id), :class => "btn btn-primary btn-block"%></em>
        </p>
      </div>
    <%end%>
  </div>
</div>