<div>
  <p><u>Added by</u> <b><%= comment.user.first_name %></b></p>
  <p class="comment"><%= comment.content %></p>
  <p class="datetime"><em>posted on the: <%= comment.created_at %></em></p>
  <p><%= link_to "Edit this comment", edit_gossip_comment_path(@gossip.id, comment.id), :class => "btn btn-outline-dark btn-sm"%>
    <%= link_to "Delete", gossip_comment_path(comment.gossip_id, comment.id), :method => "delete", :class => "btn btn-danger btn-sm", :data => {:confirm => "Do you really want to Delete this comment?"} %></p>

</div>