
<html>
  <body>
   <% if alert %>
      <div class="alert alert-danger" role="alert">
    <%= alert %>
      </div>
    <% end %>

    <div class="page text-center">
      <%= form_tag url_for(action: 'create'), method: "post" do %>
      
        <%= label_tag 'Title', name = 'Title' %>
        <%= text_field_tag 'title'%>
        <br><br>

        <%= label_tag 'Content', name = 'Content' %>
        <%= text_field_tag 'content'%>
        <br><br>

        <%= submit_tag "Create Post", class: 'btn btn-primary' %>
      <% end %>
    </div>

  </body>
</html>