<div class="page">
  <p style="font-size: 22px"><u><b>This is the city of <%= @city.name%></b></u></p><br>
  <p><b>See</b> all gossips from <u><%=@city.name%></u>:<p><br><br>

  <div class="row col text-center">
    <% @gossips.each do |gossip|%>
      <%if gossip.user.city.name == @city.name%>
          <div class="card" style="width:18rem;">
        <h5>
          <%=gossip.title%>
        </h5>
        <p>
          <%=gossip.user.first_name%><br>
        </p>
  
        <p>
          <%= link_to "Edit", edit_gossip_path(gossip.id), :class => "btn btn-outline-success btn-sm"%>
          <%= link_to "Delete" , gossip_path(gossip.id), :method => "delete", :class => "btn btn-outline-danger btn-sm", :data => {:confirm => "Do you really want to Delete this gossip?"} %>
        </p>
        <p>
          <em><%= link_to "See this gossip", gossip_path(gossip.id), :class => "btn btn-primary btn-block"%></em>
        </p>
      </div>
      <% end %>
    <% end %>
  </div>

</div>